.stories.snapgram .story > .item-link {
  text-decoration: none;
  color: #0a0a0a;
}
.stories.snapgram .story > .item-link > .item-preview {
  border-radius: 50%;
  padding: 2px;
  background: var(--color-link-hover);
}
.stories.snapgram .story > .item-link > .item-preview img {
  border-radius: 50%;
  border: 3px solid #fff;
}

.stories.snapgram .story.seen {
  opacity: 0.75;
}
.stories.snapgram .story.seen > a > .item-preview {
  background: rgba(var(--color-link-hover), 0.4);
}
.stories.snapgram .story.seen > a {
  color: #999 !important;
}
