/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700|Kanit:600,800&display=swap");

/* Import Grid / Style */
@import "scss/bootstrap-grid.min";
@import "scss/style";

/* Import Zuck */
@import "scss/zuck";
@import "scss/snapgram";
//@import "scss/facesnap";
//@import "scss/snapssenger";
//@import "scss/vemdezap";

/* Import Glide */
@import "scss/glide.core";
@import "scss/glide.theme";
